.completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #D7D8DA;
  font-weight: 500;
}

.completedChallengesContainer span:first-child {
  font-size: 1.25rem;
}

.completedChallengesContainer span:last-child {
  font-size: 1.5rem;
}